

/* Mi texto iluminado"*/

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: -webkit-radial-gradient(#560e86, #0a0011);
} */

.willy span {
  font-size: 80pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.willy span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
.willy span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
.willy span:hover {
  filter: contrast(300%);
}
.willy span:nth-child(1) {
  color: #00bef8;
}
.willy span:nth-child(2) {
  color: #ff0697;
}
.willy span:nth-child(3) {
  color: #ff4d00;
}
.willy span:nth-child(4) {
  color: #ffe600;
}
.willy span:nth-child(5) {
  color: #bb00ff;
}



html {
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {

  /*background: url(../../Imagen/fondo4.jpg);*/
  /*background-color: rgba(173, 250, 220, 0.973);*/
  /*background: -webkit-radial-gradient(rgb(251, 252, 252), rgb(27, 14, 146));*/
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imagen1 {
    
  width: 100%;
  display: flex;
  max-width: 25%;
  height: auto;
  border-radius: 50%;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  gap: 1rem;
  }


.imagen2{
    
    width: 100%;
    display: flex;
    max-width: 35%;
    height: auto;
    padding: auto;
    border: 1px solid transparent;
    margin: auto;
    }

    
.imagen3  {
    
  width: 100%;
  display: flex;
  max-width: 42%;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen4 {
    
  width: 100%;
  display: flex;
  max-width: 120px;
  max-height: 120px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen5 {
    
  width: 100%;
  display: flex;
  max-width: 100px;
  max-height: 100px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen6 {
    
  width: 100%;
  display: flex;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }

   
  .imagen7 {
    
    width: 100%;
    display: flex;
    max-width: 140px;
    max-height: 140px;
    height: auto;
    padding: auto;
    border: 1px solid transparent;
    margin: auto;
    }
    
.imagen8 {
    
      width: 100%;
      display: flex;
      max-width: 180px;
      max-height: 590px;
      height: 200px;
      padding: auto;
      border-radius: 8px;
      border: 1px solid transparent;
      margin: auto;
      box-shadow: 1px 1px 11px 5px #0009;
      font-weight: bold;
       cursor: pointer;
      }
    
       

      .imagen9 {
        
        width: 100%;
        display: flex;
        max-width: 180px;
        max-height: 590px;
        height: 200px;
        padding: auto;
        border-radius: 8px;
        border: 1px solid transparent;
        margin: auto;
        box-shadow: 1px 1px 11px 5px #0009;
        font-weight: bold;
        cursor: pointer;
        }
        .imagen10 {
        
          width: 100%;
          display: flex;
          max-width: 180px;
          max-height: 590px;
          height: 200px;
          padding: auto;
          border-radius: 8px;
          border: 1px solid transparent;
          margin: auto;
          box-shadow: 1px 1px 11px 5px #0009;
          font-weight: bold;
          cursor: pointer;
          }
  
  .proyect{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            
          
          }
          
  .proyecto1{
            font-size: 300px;
          
          }
          
  .proyecto2{
            font-size: 300px;
           
          }
          
 .proyecto3{
            font-size: 300px;
          
          }

        @media (min-width: 600px) {
          .proyecto1{
           
            justify-content: center;
             align-items: center;
          }
          .proyecto2{
           
            justify-content: center;
            align-items: center;
          }
          .proyecto3{
            
            justify-content: center;
            align-items: center;
          }
        }        



        .contenedor_habilidades {
          display: flex;
          align-items: baseline;
          justify-content: space-evenly;
        }
        

    .hab1{
      text-align: center;
    }
    .hab2{
      text-align: center;
    }
    .hab3{
      text-align: center;
    }
    .hab4{
      text-align: center;
    }

    @media (min-width: 600px) {
      .hab1{
        float: left;
        justify-content: center;
         align-items: center;
      }
      .hab2{
        float: left;
        justify-content: center;
        align-items: center;
      }
      .hab3{
        float: left;
        justify-content: center;
        align-items: center;
      }
      .hab4{
        float: left;
        justify-content: center;
        align-items: center;
      }
      
    }


a {
  text-decoration: none;
  color: inherit;
}

/* ==============
 * Hero Section *
================*/
.hero {
  width: 100%;
  height: 100vh;
  background-color: rgb(36, 44, 92);
  /* border: 1px solid red; */
  display: flex;
  color: hsl(230deg 100% 81%);
  align-items: center;
  justify-content: center;
}

.hero__nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  /* border: 1px solid green; */
  transition: all 0.3s ease-in-out;
}

.hero__nav.nav-fixed {
  background-color: hsl(230deg 60% 41%);
}

.hero__nav__contenedor {
  display: flex;
  height: inherit;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.hero__nav .logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: all 0.3s ease-in-out;
}

.hero__nav .logo i {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.hero__nav .logo {
  font-size: 22px;
  color: hsl(189deg 98% 51%);
}

.hero__nav-inner {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: flex-end; 
  gap: 20px;
}

.hero__nav-link {
  /* border: 1px solid green; */
  color: hsl(189deg 98% 51%);
  font-size: 20px;
  font-weight: 600;
}

.hero__nav-link:hover, .hero__nav-link.active {
  color: hsl(44deg 97% 59%);
}

.hero__contenedor {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: min(992px, 90%);
  height: auto;
  /* border: 1px solid red; */
  text-align: center;
}

.hero__titulo {
  margin: 0;
  margin-bottom: .75rem;
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: bold;
  /* border: 1px solid red; */
}

.hero__subtitulo {
  margin: 0;
  margin-bottom: .75rem;
  font-size: clamp(2rem, 5vw, 4.5rem);
  /* border: 1px solid red; */
  color: #fff;
}

.hero__texto {
  margin: 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  /* border: 1px solid red; */
}

.btn-abrir {
  display: none;
}

.seccion {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.seccion__contenedor {
  /*display: grid;
  justify-content: space-evenly;*/
  max-width: 992px;
  margin: 0 auto;
  /*border: 1px solid rgb(255, 0, 234);*/
}

.seccion__contenedor.seccion__full {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin:0;
}

.seccion__titulo {
 /* padding-left: 20px;*/
 text-align: center;

  

}


.seccion__contenido {
  padding: 10px 20px 40px;
 /* border: 1px solid green;*/
  display: grid;
  /*grid-template-columns: 1fr;*/
  justify-items: stretch;
  
}

.contenedor__tarjeta{
  border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

@media (min-width: 600px) {
  .contenedor__tarjeta{
    display:flex;
     flex-wrap: wrap;
      
    
  }
  
}

.tarjeta__interior{
  /*border: 1px solid violet;*/

  background: url(../../Imagen/fondo.jpeg);
  
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 3px 11px -5px #0009;
   
}


.tarjeta__interior i {
 
  font-size: 130px;
   
}



.tarjeta__interior .orange{
  color: orange;
}

.tarjeta__interior .blue{
  color: rgb(66, 104, 230);
}

.tarjeta__interior .green{
  color: green;
}



.contenerdor__principal > .seccion:nth-child(even) {
  max-width: 100%;
  margin: 0 auto;
  background-color: hsl(231deg 48% 48%);
  color: #fff;
}

@media (max-width: 768px) {
  .hero__nav-inner {
    position: fixed;
    top: 0;
    left: -100%;
    margin-top: 60px;
    width: 80vw;
    height: 100%;
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: hsl(44deg 97% 59%);
    /* border: 1px solid blue; */
    transition: .3s ease-in-out;
  }

  .hero__nav-inner.active {
    left: 0;
  }

  .hero__nav-link {
    color: rgba(98, 76, 9, 0.5);
    text-transform: uppercase;
  }
  
  .hero__nav-link:hover, .hero__nav-link.active {
    color: hsl(0deg 0% 0%);
    font-weight: 700;
  }

  .btn-abrir {
    display: inline-block;
  }
}

.form {
  /* border: 1px solid red; */
  padding: 0 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
}

.form-control {
  padding: 15px;
  font-size: 1rem;
  background-color: rgb(241, 28, 241);
  border: 2px solid rgb(3, 3, 51);
  border-radius: 8px;
}

.form-control::placeholder {
  color: #fff;
}

.form-control:focus-visible {
  outline: 1px solid lightseagreen;
  border-color: #fff;
}

.btn-form {
  padding: 15px;
  background-color: hsl(230deg 60% 41%);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-form:hover {
  background-color: hsl(231deg 48% 48%);
}

.footer__contenedor__texto {
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}

/* mobile first */
@media (min-width: 768px) {
  .hero__nav {
    height: 100px;
  }
}

.acad{
  display: flex;
  text-align: center;
 /* border: 1px solid red;*/
}

.seccion__texto{
  text-decoration-color: rgb(0, 0, 0);
  text-align: center;
}

.academico{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto ;
  float: left;
  width: 100%;
  flex-direction: column;
 /* border: 1px solid green;*/
  
}

.academico2{
 
  justify-content: center;
  align-items: center;

}