html {
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {

  /*background: url(../../Imagen/fondo4.jpg);*/

  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imagen1 {
    
  width: 100%;
  display: flex;
  max-width: 25%;
  height: auto;
  border-radius: 50%;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }


  .imagen2 {
    
    width: 100%;
    display: flex;
    max-width: 25%;
    height: auto;
    padding: auto;
    border: 1px solid transparent;
    margin: auto;
    }

    
.imagen3 {
    
  width: 100%;
  display: flex;
  max-width: 30%;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen4 {
    
  width: 100%;
  display: flex;
  max-width: 150px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen5 {
    
  width: 100%;
  display: flex;
  max-width: 150px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }
     
.imagen6 {
    
  width: 100%;
  display: flex;
  max-width: 150px;
  height: auto;
  padding: auto;
  border: 1px solid transparent;
  margin: auto;
  }

   
  .imagen7 {
    
    width: 100%;
    display: flex;
    max-width: 150px;
    height: auto;
    padding: auto;
    border: 1px solid transparent;
    margin: auto;
    }

    .hab1{
      text-align: center;
    }
    .hab2{
      text-align: center;
    }
    .hab3{
      text-align: center;
    }
    .hab4{
      text-align: center;
    }

    @media (min-width: 600px) {
      .hab1{
        float: left;
        justify-content: center;
         align-items: center;
      }
      .hab2{
        float: left;
        justify-content: center;
        align-items: center;
      }
      .hab3{
        float: left;
        justify-content: center;
        align-items: center;
      }
      .hab4{
        float: left;
        justify-content: center;
        align-items: center;
      }
      
    }


a {
  text-decoration: none;
  color: inherit;
}

/* ==============
 * Hero Section *
================*/
.hero {
  width: 100%;
  height: 100vh;
  background-color: rgb(36, 44, 92);
  /* border: 1px solid red; */
  display: flex;
  color: hsl(230deg 100% 81%);
  align-items: center;
  justify-content: center;
}

.hero__nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  /* border: 1px solid green; */
  transition: all 0.3s ease-in-out;
}

.hero__nav.nav-fixed {
  background-color: hsl(230deg 60% 41%);
}

.hero__nav__contenedor {
  display: flex;
  height: inherit;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.hero__nav .logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: all 0.3s ease-in-out;
}

.hero__nav .logo i {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.hero__nav .logo {
  font-size: 22px;
  color: hsl(189deg 98% 51%);
}

.hero__nav-inner {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: flex-end; 
  gap: 20px;
}

.hero__nav-link {
  /* border: 1px solid green; */
  color: hsl(189deg 98% 51%);
  font-size: 20px;
  font-weight: 600;
}

.hero__nav-link:hover, .hero__nav-link.active {
  color: hsl(44deg 97% 59%);
}

.hero__contenedor {
  width: min(992px, 90%);
  height: auto;
  /* border: 1px solid red; */
  text-align: center;
}

.hero__titulo {
  margin: 0;
  margin-bottom: .75rem;
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: bold;
  /* border: 1px solid red; */
}

.hero__subtitulo {
  margin: 0;
  margin-bottom: .75rem;
  font-size: clamp(2rem, 5vw, 4.5rem);
  /* border: 1px solid red; */
  color: #fff;
}

.hero__texto {
  margin: 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  /* border: 1px solid red; */
}

.btn-abrir {
  display: none;
}

.seccion {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.seccion__contenedor {

  max-width: 992px;
  margin: 0 auto;
  border: 1px solid rgb(255, 0, 234);
}

.seccion__contenedor.seccion__full {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin:0;
}

.seccion__titulo {
 /* padding-left: 20px;*/
 text-align: center;

  

}

.seccion__contenido {
  padding: 10px 20px 40px;
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.tarjeta__interior{
  /*border: 1px solid violet;*/
  background: url(../../Imagen/fondo.jpeg);
  
  border-radius: 8px;

  box-shadow: 0px 3px 11px -5px #0009;
  
 
}

.tarjeta__interior{
  text-align: center;
 
}

.tarjeta__interior i {
  font-size: 45px;
}

.tarjeta__interior .orange{
  color: orange;
}

.tarjeta__interior .blue{
  color: rgb(66, 104, 230);
}

.tarjeta__interior .green{
  color: green;
}

@media (min-width: 600px) {
  .contenedor__tarjeta{
      grid-template-columns: repeat(3, 1fr);
      
    
  }
  
}

.contenerdor__principal > .seccion:nth-child(even) {
  max-width: 100%;
  margin: 0 auto;
  background-color: hsl(231deg 48% 48%);
  color: #fff;
}

@media (max-width: 768px) {
  .hero__nav-inner {
    position: fixed;
    top: 0;
    left: -100%;
    margin-top: 60px;
    width: 80vw;
    height: 100%;
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: hsl(44deg 97% 59%);
    /* border: 1px solid blue; */
    transition: .3s ease-in-out;
  }

  .hero__nav-inner.active {
    left: 0;
  }

  .hero__nav-link {
    color: rgba(98, 76, 9, 0.5);
    text-transform: uppercase;
  }
  
  .hero__nav-link:hover, .hero__nav-link.active {
    color: hsl(0deg 0% 0%);
    font-weight: 700;
  }

  .btn-abrir {
    display: inline-block;
  }
}

.form {
  /* border: 1px solid red; */
  padding: 0 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
}

.form-control {
  padding: 15px;
  font-size: 1rem;
  background-color: hsl(231deg 48% 48%);
  border: 1px solid transparent;
  border-radius: 8px;
}

.form-control::placeholder {
  color: #fff;
}

.form-control:focus-visible {
  outline: 1px solid lightseagreen;
  border-color: #fff;
}

.btn-form {
  padding: 15px;
  background-color: hsl(230deg 60% 41%);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-form:hover {
  background-color: hsl(231deg 48% 48%);
}

.footer__contenedor__texto {
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}

/* mobile first */
@media (min-width: 768px) {
  .hero__nav {
    height: 100px;
  }
}

.acad{
  display: flex;
 /* border: 1px solid red;*/
}

.seccion__texto{
  text-decoration-color: rgb(0, 0, 0);
  text-align: center;
}

.academico{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto ;
  float: left;
  width: 100%;
}

.academico.academico2{
 
  justify-content: center;
  align-items: center;
}
.academico2{
 
  justify-content: center;
  align-items: center;

}